<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>url shortner</title>
</head>
<body>
    <h1>
        URL shortner
    </h1>

    <form action="/" method="post">
        <input type="url" name="url" id="url" placeholder="enter ul here ....">
        <button type="submit"> create url </button>
    </form>

    <div class="short_url">

 <a href="<%= short_url %>">   <%= short_url %></a>

    </div>
</body>
</html>